.App {
  text-align: center;
}

.loginbox{
  position: fixed;
  top: 0;
  right: 0;
  margin-top: 20px;
  margin-right: 20px;
}

.nav{
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

.mainslide{
  height: 250px;
  background-color: aqua;
}

.section{
  height: 800px;
  background-color: rgb(152, 152, 152);
}

/* 바텀 내비 액티브 색 변경 */
.navactive{
  color: orange;
}