@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');

/* 리셋 */
a {
  text-decoration: none;
  color: rgba(45, 45, 45, 0.87);
}

p {
  margin-bottom: 0;
}

.App {
  font-family: 'IBM Plex Sans KR', 'Noto Sans KR', sans-serif;
  text-align: center;
  color: rgba(45, 45, 45, 0.87);
  box-sizing: border-box;
}

/* 로딩 페이지 */
.loading_screen {
  width: 100%;
  height: 100vh;
  background-color: #FFAB49;
  position: relative;
}

.loading_logo {
  font-family: 'Raleway';
  font-size: 2.5em;
  color: #fff;
  line-height: 1;
  position: absolute;
  bottom: 30%;
  left: 10%;
}

/* app.js */
.header {
  width: 100%;
  height: 100px;
  padding: 24px 12px 0 12px;
  z-index: 9999;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-family: 'Raleway';
  font-size: 1.5em;
  color: #FFAB49;
  margin-bottom: 0;
  text-align: left;
  line-height: 0.8;
}

.header_r {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.login {
  width: 30px;
  height: 30px;
  background-color: #FFAB49;
  cursor: pointer;
}

/* 하단 nav */
.BottomNav {
  width: 100%;
  z-index: 999;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #fff;
}

.MuiBottomNavigationAction-label {
  font-family: 'IBM Plex Sans KR';
}


/* main.js */
.header_ment {
  width: 100%;
  height: 70px;
  padding: 0 12px;
  text-align: left;
}

/* main 이미지 슬라이드 */
.mainslide {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel-item {
  padding: 0 12px;
}

.carousel-item img {
  border-radius: 20px;
}

.carousel-control-prev-icon,
.carousel-control-next-icon,
.carousel-indicators {
  display: none;
}

/* 섹션 */
.section {
  width: 100%;
  height: auto;
  padding: 12px 12px 60px 12px;
}

/* 주문 영역 */

.order {
  width: 100%;
  height: 110px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.section_box {
  height: 110px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.section_ment {
  text-align: left;
}

.section_button {
  border: none;
  background-color: #FFAB49;
  color: #fff;
  border-radius: 20px;
  padding: 7px 13px;
}

.section_lg_ment {
  text-align: left;
  font-size: 0.9rem;
}

.section_lg_button {
  width: 80px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  background-color: #FFAB49;
  color: #fff;
  border-radius: 30px;
  font-size: 0.9rem;
}

.order_box {
  width: 80px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  cursor: pointer;
  text-decoration: none;
  background-color: #FFAB49;
  color: #fff;
  border-radius: 30px;
}

.order_icon {
  font-size: 1.5rem;
}

.order_text {
  font-size: 0.9rem;
}

/* md 메뉴 영역 & productlist */
.today_ment {
  width: 100%;
  height: 50px;
  padding-left: 5px;
  font-size: 1.3rem;
  text-align: left;
}

/* location 매장 선택 페이지 */
.location {
  width: 100%;
  height: auto;
  padding: 0 12px;
}

.location_text {
  width: 100%;
  height: 40px;
  text-align: center;
  font-size: 1rem;
  font-weight: bold;
  line-height: 2.5;
}

.location_text2 {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  font-size: 1rem;
}

.location_box {
  width: 100%;
  height: 370px;
}

.location_list {
  cursor: pointer;
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-bottom: 1px solid #FFAB49;
}

.location_name{
  font-size: 1rem;
  width: 25%;
}

.location_address{
  font-size: 0.9rem;
  width: 55%;
}

.location_distance {
  font-size: 0.9rem;
  width: 20%;
}

.location_select,
.location_select_text {
  display: block;
  width: 100%;
  height: 50px;
  border-radius: 20px;
  line-height: 3;
  background-color: #FFAB49;
  color: #fff;
  margin-bottom: 10px;
}

/* 이전으로 가기 navigate(-1) 버튼 */
.go_back_box {
  width: 100%;
  height: 30px;
  display: flex;
  align-items: center;
}

.go_back_icon {
  color: #FFAB49;
}

/* product list */
.pp {
  width: 100%;
  height: 1050px;
  padding: 12px 12px 60px 12px;
}

.pp_tab {
  font-size: 1rem;
}

.p_wrap {
  margin-top: 10px;
  width: 100%;
  height: 950px;
  display: grid;
  gap: 10px;
  row-gap: 10px;
  grid-template-columns: 1fr 1fr;
}

.p {
  height: 290px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.p_img_wrap {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.p_img {
  width: 160px;
}

.p_data_wrap {
  margin-top: 20px;
  padding-top: 20px;
  width: 100%;
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.p_title,
.p_content,
.p_price {
  font-size: 0.9rem;
}

.p_content {
  color: rgb(11, 11, 149);
  font-weight: bold;
}

/* detail */
.detail {
  width: 100%;
  padding: 0 12px 12px 12px;
}

/* 이미지 정보 영역 */
.detail_data_wrap {
  width: 100%;
}

.detail_img_wrap {
  width: 100%;
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.detail_img {
  display: block;
  width: 160px;
}

.detail_title {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
}

.detail_content {
  width: 100%;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  color: rgb(11, 11, 149);
  font-weight: bold;
}

.detail_explain {
  width: 100%;
  height: 80px;
  padding: 0 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.8rem;
}

/* 수량 가격 영역 */
.detail_order_box {
  width: 100%;
  height: 80px;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.amout_wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.detail_amount_m,
.detail_amount_p {
  width: 30px;
  height: 30px;
  background-color: #FFAB49;
  border: none;
  border-radius: 20px;
  color: #fff;
}

.detail_price {
  font-size: 1.3rem;
}

/* 주문하기 영역 */

.detail_order_wrap {
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.detail_order_wrap a {
  display: block;
  width: 150px;
  height: 40px;
  font-size: 1rem;
  background-color: #FFAB49;
  border-radius: 15px;
  color: #fff;
  line-height: 2.5;
}

/* cart page 장바구니*/
.cart {
  width: 100%;
  height: auto;
  padding: 0 12px 60px 12px;
}

.cart_name {
  width: 100%;
  height: 40px;
  text-align: center;
  line-height: 2.5;
  font-size: 1rem;
  font-weight: bold;
}

.cart_list {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
}

.cart_data_box {
  width: 100%;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cart_data_wrap {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cart_wrap {
  width: 70%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cart_title {
  width: 120px;
  font-size: 0.8rem;
  font-weight: bold;
}

.cart_delete {
  width: 20px;
  height: 20px;
  background-color: #fdc380;
  border: none;
  border-radius: 20px;
  color: #fff;
  line-height: 0.8;
}

.cart_button_wrap {
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.cart_button {
  width: 20px;
  height: 20px;
  background-color: #FFAB49;
  border: none;
  border-radius: 20px;
  color: #fff;
  line-height: 0.8;
}

.cart_order_box {
  width: 100%;
  height: 120px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.cart_price_wrap {
  padding: 0 20px;
  width: 100%;
  height: 50px;
  background-color: #FFAB49;
  border-radius: 10px;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.go_order {
  padding: 0 20px;
  width: 100%;
  height: 50px;
  background-color: #FFAB49;
  border-radius: 10px;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* 주문 페이지 order.js */
.pay {
  width: 100%;
  height: auto;
  padding: 0 12px 60px 12px;
}

.pay_text {
  width: 100%;
  height: 40px;
  text-align: center;
  line-height: 2.5;
  font-size: 1rem;
  font-weight: bold;
}

.pay_list {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
}

.location_value{
  width: 100%;
  height: 30px;
  display: flex;
  align-items: center;
  font-size: 0.9rem;
}

.pay_data_box {
  width: 100%;
  height: auto;
}

.pay_data {
  padding: 0 5px 0 20px;
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid #fdc380;
}

.pay_title {
  width: 110px;
  font-size: 0.8rem;
  font-weight: bold;
}

.pay_amount {
  width: 40px;
  font-size: 0.8rem;
  font-weight: bold;
}

.pay_price {
  width: 80px;
  font-weight: bold;
}

/* 포장 요청 사항 */
.pay_rq_wrap {
  width: 100%;
  height: 200px;
  border-bottom: 2px solid #fdc380;
}

.pay_rq_ment {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
}

.check {
  width: 100%;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
}

.FormControlLabel {
  font-size: 0.8rem;
}

.pay_rq {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
}

.rq_input {
  outline: none;
  border: #fdc380 2px solid;
  border-radius: 10px;
}

/* 결제 수단 */
.pay_pay {
  width: 100%;
  height: 100px;
}

.pay_way {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
}

.pay_check {
  width: 100%;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* 결제 */
.pay_box {
  width: 100%;
  height: 120px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.pay_wrap {
  padding: 0 20px;
  width: 100%;
  height: 50px;
  background-color: #FFAB49;
  border-radius: 10px;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pay_button {
  padding: 0 20px;
  width: 100%;
  height: 50px;
  background-color: #FFAB49;
  border-radius: 10px;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

/* 프로필 페이지 */
.profile_box {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.profile_text {
  font-size: 1rem;
}

.profile_img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.profile_home {
  text-decoration: underline;
}

.profile_button {
  border: none;
  background-color: transparent;
  color: #FFAB49;
  text-decoration: underline;
}